.gradle/
.idea/
build/
legacy/
*/build/
out/
*/out/
*.un~
*.swp
stale_outputs_checked
hs_err*
*/hs_err*
*/*.so
err
out
*/*.dll
data/
*.log
*.tar.gz
nohup.out
enum_result*
transform_result*
opt_result*
gradlew
gradlew.bat
gradle/
enum.log*
target/
#support/