*
!.gitignore
!data.version
!schemas/
!schemas/*
!schemas_mssql
!schemas_mssql/*
!rules/
!rules/rules.txt
!rules/rules.merged.txt
!rules/rules.test.txt
!calcite/
!calcite/calcite_tests
!calcite/calcite_templates
!calcite/calcite.patch
!prepared/
!prepared/*
!no_order_by/
!no_order_by/*
!db_rule_instances/
!db_rule_instances/*
!spider/
!spider/*
!spider_large/
!spider_large/*